
/* left: blue */
.bubble {
    position: relative;
    width: 95%;
    height: auto;
    min-height: 34px;
    padding: 5px 10px;
    margin:0 20px 30px;
    box-sizing: border-box;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    /* default is green */
    border: $font-color-secondary solid 1px;
    background: #FFF;
    
    & ~label{
        position: relative;
        top: -20px;
        left: 3px;
    }
    
    & ~button{
        position: relative;
        top: -20px;
        right: 19px;
        float: right;
        clear: both;
    }
    
    textarea{
        float: right;
        clear: both;
        position: relative;
        top: 9px;
        left: 9px;
        background: none;
        border: none;
        outline: none;
        width: 95%;
        max-width: 98%;
        min-height: 40px;
    }
    
    &.green{
        border: $color-primary solid 1px;
        background: #FFF;
        
        &:after {
            border-color: transparent #FFF;
        }
        &:before {
            border-color: transparent $color-primary;
        }
    }
    
    &.blue{
    
        border: $color-secondary solid 1px;
        background: #FFF;
        
        &:after {
            border-color: transparent #FFF;
        }
        &:before {
            border-color: transparent $color-secondary;
        }
        
    }
    
    &.left{
        float: left;
        clear: both;
        
                
        &:after {
             left: -14px;
            border-width: 15px 15px 15px 0;
        }
        
        &:before {
            left: -16px;
            border-width: 15px 16px 15px 0;
        }
    }
    
    &.right{
        float: right;
        clear: both;
        
        &:after {
            right: -14px;
            left: auto;
            border-width: 15px 0 15px 15px;
        }
        
        &:before {
            right: -16px;
            left: auto;
            border-width: 15px 0 15px 16px;
        }
    }
    
    &:after {
        content: "";
        position: absolute;
        top: 1px;
        left: -14px;
        border-style: solid;
        border-width: 15px 15px 15px 0;
        display: block;
        width: 0;
        border-color: transparent #FFF;
    }
    
    &:before {
        content: "";
        position: absolute;
        top: 1px;
        left: -16px;
        border-style: solid;
        border-width: 15px 16px 15px 0;
        display: block;
        width: 0;
        border-color: transparent $font-color-secondary;
    }
   
}
