/* ------------
 GENERAL STYLES
*/


/* Do the reset */
html,
body {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    min-width: 100%;
    height: 100%;
    padding: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GENERAL FONTS */
a{
    text-decoration: none;
}
p a{
    text-decoration: underline;
}

body,
span,
div,
a,
p,
li,
td,
article,
nav,
aside,
header,
footer,
input,
button {
    font-family: $font-primary-regular-stack;
    color: $font-color;
    line-height: $font-primary-line-height;
    font-weight: $font-primary-regular-weight;
}
h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
.bold {
    font-family: $font-primary-bold-stack;
    color: $font-color;
    line-height: $font-primary-line-height;
    font-weight: $font-primary-bold-weight;
    margin-bottom: 10px;
}
.special {
    font-family: $font-secondary-stack;
    color: $font-color;
    line-height: $font-secondary-line-height;
    font-weight: $font-secondary-weight;
}
h1.special,
h2.special,
h3.special,
h4.special,
h5.special,
h6.special,
b .special,
b.special,
.special b,
strong .special,
strong.special,
.special strong {
    text-shadow: 1px 0;
    /* make it bold without making it font-weight:bold due to an chrome renedering error */
}
.error,
.error * {
    color: $color-error !important;
    font-weight: bold;
}
span.highlight,
input.highlight,
p.highlight,
h1.highlight,
h2.highlight,
h3.highlight,
h4.highlight,
h5.highlight,
h6.highlight {
    color: $color-primary;
}
div.highlight {
    background: $color-primary;
}

/* Headline styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 20px;
}

/* FONT Styles */
.xs {
    font-size: 10px !important;
}
.s {
    font-size: 13px !important;
}
.m {
    font-size: 15px !important;
}
.l {
    font-size: 20px !important;
}
.xl {
    font-size: 25px !important;
}
.xxl {
    font-size: 30px !important;
}
.xxxl {
    font-size: 40px !important;
}
.xxxxl {
    font-size: 50px !important;
}

/* other font and helper styles */
div.highlight * {
    color: #FFF;
}
.upper {
    text-transform: uppercase !important;
}
cite {
    font-style: italic;
    font-weight: 200;
}
.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.right {
    float: right;
    clear: both;
}
.smallprint,
p.smallprint,
a.smallprint {
    display: block;
    text-align: right;
    font-size: 12px;
    margin: 0 10px 10px;
}

.fullwidth{
    width: 100%;
}


/* GENERAL FORM STYLES */

fieldset{
    padding: 5px 10px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    border: 1px solid #EEE;
    border-radius: 5px;
    background: rgba(255, 255, 255, .6);
}

textarea,
input,
select,
input[type="submit"]
button,
.button
{
    border: none;
    margin: 5px 0;
    padding: 5px 10px 2px;
    color: $font-color;
    width: 100%;
    
    &.error{
        border: 1px solid $color-error !important;
    }
}


select{
    height: 30px;
    width: auto;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    display: inline-block;
    border: 1px solid #DDD;    
    background-color: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
}
input[disabled] {
    background: #EEE;
}
input[type="search"] {
    background: #FFF;
}
label{
    margin: 0 0 10px;
    
    &.error{
        display: block;
        font-weight: normal;
    }
}

/* input field with icon */
span.input {
    position: relative;
    display: inline-block;
}
span.input i {
    position: absolute;
    left: 10px;
    top: 22px;
    font-size: 15px;
    line-height: 1em;
    margin-top: -7px;
    color: #AAA;
}

span.input input{
    padding-left: 35px;
    line-height: $font-primary-line-height;
    box-sizing: border-box;
    width: 100%;
}

/* checkbox & radio */
div.checkbox{
    margin: 0 0 10px;
}

input[type="radio"], 
input[type="checkbox"]{
    position: relative;
    width: auto;
    margin: 2px 5px 2px 0px;
    opacity: .1;
}

input[type="radio"].error ~ span, 
input[type="checkbox"].error ~ span{
    color: $color-error;
}

input[type="radio"],
input[type="radio"]::before,
input[type="checkbox"],
input[type="checkbox"]::before {
    display: inline-block;
    vertical-align: middle;
}

input[type="radio"]::before,
input[type="checkbox"]::before {
    position: absolute;
    top: -1px;
    left: -1px;
    content: "";
    width: 15px;
    height: 15px;
    border: solid 1px #a8a8a8;
    line-height: 14px;
    text-align: center;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    background: #f6f6f6;
    background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
    background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
    background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
    background: -o-radial-gradient(#f6f6f6, #dfdfdf);
    background: radial-gradient(#f6f6f6, #dfdfdf);
    opacity: 1;
}

input[type="radio"]:checked::before,
input[type="checkbox"]:checked::before {
    color: #666;
}
input[type="radio"]:disabled 
input[type="checkbox"]:disabled {
    cursor: default;
    -moz-opacity: .4;
    -webkit-opacity: .4;
    opacity: .4;
}
input[type="checkbox"]::before {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
input[type="radio"]:checked::before {
    content: "\25CF";
    font-size: 16px;
}
input[type="checkbox"]:checked::before {
    content: "\2714";
    font-size: 20px;
}

input[type="checkbox"],
input[type="radio"]{
    opacity: 1;
    margin: 4px 5px 5px 0;
}

input[type="checkbox"] ~ * {
    margin-bottom: 10px;
    white-space: normal;
    display: inline;
}
input[type="radio"] ~ label,
input[type="checkbox"] ~ label{
    float: right;
    margin: 0 0 0 10px;
    
}

/* range */
input[type="range"] {
    position: relative;
    height: 8px !important;
    width: 100px;
    padding: 0;
    background: $color-primary;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition: .15s;
    -moz-transition: .15s;
    transition: .15s;
    border-radius: 15px;
    -webkit-border-radius: 15px;
}
input[type="range"]::-webkit-slider-thumb {
    position: relative;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    display: block;
    border: 2px solid $color-primary-hover;
    background: #FFF;
    border-radius: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* button */
input[type=submit],
button,
.button {
    display: inline-block;
    width: auto;
    background: $color-primary;
    border: none;
    color: #FFF;
    text-decoration: none;
    white-space: nowrap;
    padding-top: 8px;
    padding-bottom: 8px;
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: background-color 250ms linear;
    -moz-transition: background-color 250ms linear;
    -o-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
    
    
    &.disabled{
        pointer-events: none;
        cursor: default;
        background: $font-color-secondary !important;
    }
}
@media (max-width: 420px) {
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    input[type="submit"],
    input[type="range"],
    button,
    .button,
    .input{
        display: block;
        width: 100%;
        padding-left: 0 !important;
        padding-right: 0 !important;
        text-align: center;
    }

}

input[type=submit].xl,
button.xl,
.button.xl {
    font-size: 17px;
    padding: 12px 13px 10px;
}
input[type=submit]:hover,
button:hover,
.button:hover {
    background: $color-primary-hover;
}

/* highlight button */
input[type=submit].highlight,
button.highlight,
.button.highlight {
    background: $color-secondary;
}

input[type=submit].highlight:hover,
button.highlight:hover,
.button.highlight:hover {
    background: $color-secondary-hover
}

input[type=submit].white,
button.white,
.button.white {
    background: #FFF;
    color: #555;
}

/* button active */
button.active,
input[type=submit]:active,
button:active,
.button:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.4), 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.4), 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.4), 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* GENERAL HTML5 elements */
section {
    padding: 0;
    margin: 0;
    
    &.details{
        background: #99c84d;
        margin: 0 -10px;
        padding: 50px 0 40px;
        -webkit-box-shadow: 0 0 10px 0px #222 inset;
        -moz-box-shadow: 0 0 10px 0px #222 inset;
        -ms-box-shadow: 0 0 10px 0px #222 inset;
        box-shadow: 0 0 10px 0px #222 inset;

        span, div, label, h1, h2, a{
            color: #FFF;
        }
        
        h1, h2{
            margin-bottom: 10px;
        }
        
        .alert{
            margin: 20px  !important;
        }
    }
    
}

/* table (bootstrap) */
.table {
    display: table;
}
table {
    width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}
.table th,
.table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid #dddddd;
}
.table th {
    font-weight: bold;
}
.table thead th {
    vertical-align: bottom;
}
.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
    border-top: 0;
}
.table tbody + tbody {
    border-top: 2px solid #dddddd;
}
.table .table {
    background-color: #ffffff;
}
.table-condensed th,
.table-condensed td {
    padding: 4px 5px;
}
.table-bordered {
    border: 1px solid #dddddd;
    border-collapse: separate;
    *border-collapse: collapse;
    border-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.table-bordered th,
.table-bordered td {
    border-left: 1px solid #dddddd;
}
.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
    border-top: 0;
}
.table-bordered thead:first-child tr:first-child > th:first-child,
.table-bordered tbody:first-child tr:first-child > td:first-child,
.table-bordered tbody:first-child tr:first-child > th:first-child {
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
}
.table-bordered thead:first-child tr:first-child > th:last-child,
.table-bordered tbody:first-child tr:first-child > td:last-child,
.table-bordered tbody:first-child tr:first-child > th:last-child {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
}
.table-bordered thead:last-child tr:last-child > th:first-child,
.table-bordered tbody:last-child tr:last-child > td:first-child,
.table-bordered tbody:last-child tr:last-child > th:first-child,
.table-bordered tfoot:last-child tr:last-child > td:first-child,
.table-bordered tfoot:last-child tr:last-child > th:first-child {
    -webkit-border-bottom-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-radius-bottomleft: 4px;
}
.table-bordered thead:last-child tr:last-child > th:last-child,
.table-bordered tbody:last-child tr:last-child > td:last-child,
.table-bordered tbody:last-child tr:last-child > th:last-child,
.table-bordered tfoot:last-child tr:last-child > td:last-child,
.table-bordered tfoot:last-child tr:last-child > th:last-child {
    -webkit-border-bottom-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
}
.table-bordered tfoot + tbody:last-child tr:last-child td:first-child {
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
}
.table-bordered tfoot + tbody:last-child tr:last-child td:last-child {
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
}
.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
}
.table-bordered caption + thead tr:first-child th:last-child,
.table-bordered caption + tbody tr:first-child td:last-child,
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child {
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
}
.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
    background-color: #f9f9f9;
}
.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
    background-color: #f5f5f5;
}
table td[class*="span"],
table th[class*="span"],
.row-fluid table td[class*="span"],
.row-fluid table th[class*="span"] {
    display: table-cell;
    float: none;
    margin-left: 0;
}
.table td.span1,
.table th.span1 {
    float: none;
    width: 44px;
    margin-left: 0;
}
.table td.span2,
.table th.span2 {
    float: none;
    width: 124px;
    margin-left: 0;
}
.table td.span3,
.table th.span3 {
    float: none;
    width: 204px;
    margin-left: 0;
}
.table td.span4,
.table th.span4 {
    float: none;
    width: 284px;
    margin-left: 0;
}
.table td.span5,
.table th.span5 {
    float: none;
    width: 364px;
    margin-left: 0;
}
.table td.span6,
.table th.span6 {
    float: none;
    width: 444px;
    margin-left: 0;
}
.table td.span7,
.table th.span7 {
    float: none;
    width: 524px;
    margin-left: 0;
}
.table td.span8,
.table th.span8 {
    float: none;
    width: 604px;
    margin-left: 0;
}
.table td.span9,
.table th.span9 {
    float: none;
    width: 684px;
    margin-left: 0;
}
.table td.span10,
.table th.span10 {
    float: none;
    width: 764px;
    margin-left: 0;
}
.table td.span11,
.table th.span11 {
    float: none;
    width: 844px;
    margin-left: 0;
}
.table td.span12,
.table th.span12 {
    float: none;
    width: 924px;
    margin-left: 0;
}

.table-striped tfoot td{    
    border-top: 2px solid #dddddd;
    border-bottom: none;
    font-weight: bold;
}

/* alert */
.alert {
    padding: 5px 10px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    border: 1px solid #FFF;
    border-radius: 5px;
    background: rgba(255, 255, 255, .6);
}
.alert h4 {
    margin-top: 0;
    color: inherit;
}
.alert a {
    font-weight: 700;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.alert-success hr {
    border-top-color: #c9e2b3;
}
.alert-success * {
    color: #2b542c;
}
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alert-info hr {
    border-top-color: #a6e1ec;
}
.alert-info * {
    color: #245269;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert-warning hr {
    border-top-color: #f7e1b5;
}
.alert-warning * {
    color: #66512c;
}
.alert-danger {
    color: $color-error;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert-danger hr {
    border-top-color: #e4b9c0;
}
.alert-danger * {
    color: #843534;
}

/* badge */
.badge:after{
  position: absolute;
  top: 25px;
  right: -45px;
  content: attr(data-badge-text);
  font-weight: 400;
  text-align: center;
  line-height: 1em;
  color: #FFF !important;
  background: #e54c3c;
  width: 150px;
  padding: 3px 5px 5px;
  text-shadow: 1px 1px 1px #444;

    background: rgb(226,62,47); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UyM2UyZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2ZjOGE4YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2ZjOGE4YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMjNlMmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  rgba(226,62,47,1) 0%, rgba(252,138,138,1) 40%, rgba(252,138,138,1) 60%, rgba(226,62,47,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(226,62,47,1)), color-stop(40%,rgba(252,138,138,1)), color-stop(60%,rgba(252,138,138,1)), color-stop(100%,rgba(226,62,47,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(226,62,47,1) 0%,rgba(252,138,138,1) 40%,rgba(252,138,138,1) 60%,rgba(226,62,47,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(226,62,47,1) 0%,rgba(252,138,138,1) 40%,rgba(252,138,138,1) 60%,rgba(226,62,47,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(226,62,47,1) 0%,rgba(252,138,138,1) 40%,rgba(252,138,138,1) 60%,rgba(226,62,47,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(226,62,47,1) 0%,rgba(252,138,138,1) 40%,rgba(252,138,138,1) 60%,rgba(226,62,47,1) 100%); /* W3C */

  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  transform:      rotate(45deg);
}


.badge-green:after{
    background: rgb(112,186,48); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcwYmEzMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2JhZWE2NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2JhZWE2NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3MGJhMzAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  rgba(112,186,48,1) 0%, rgba(186,234,103,1) 40%, rgba(186,234,103,1) 60%, rgba(112,186,48,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(112,186,48,1)), color-stop(40%,rgba(186,234,103,1)), color-stop(60%,rgba(186,234,103,1)), color-stop(100%,rgba(112,186,48,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(112,186,48,1) 0%,rgba(186,234,103,1) 40%,rgba(186,234,103,1) 60%,rgba(112,186,48,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(112,186,48,1) 0%,rgba(186,234,103,1) 40%,rgba(186,234,103,1) 60%,rgba(112,186,48,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(112,186,48,1) 0%,rgba(186,234,103,1) 40%,rgba(186,234,103,1) 60%,rgba(112,186,48,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(112,186,48,1) 0%,rgba(186,234,103,1) 40%,rgba(186,234,103,1) 60%,rgba(112,186,48,1) 100%); /* W3C */

}


.badge-yellow:after{
    background: rgb(248,181,0); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y4YjUwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2ZiZGY5MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYwJSIgc3RvcC1jb2xvcj0iI2ZiZGY5MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOGI1MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  rgba(248,181,0,1) 0%, rgba(251,223,147,1) 40%, rgba(251,223,147,1) 60%, rgba(248,181,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(248,181,0,1)), color-stop(40%,rgba(251,223,147,1)), color-stop(60%,rgba(251,223,147,1)), color-stop(100%,rgba(248,181,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(248,181,0,1) 0%,rgba(251,223,147,1) 40%,rgba(251,223,147,1) 60%,rgba(248,181,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(248,181,0,1) 0%,rgba(251,223,147,1) 40%,rgba(251,223,147,1) 60%,rgba(248,181,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(248,181,0,1) 0%,rgba(251,223,147,1) 40%,rgba(251,223,147,1) 60%,rgba(248,181,0,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(248,181,0,1) 0%,rgba(251,223,147,1) 40%,rgba(251,223,147,1) 60%,rgba(248,181,0,1) 100%); /* W3C */
}




.badge-blue:after{
    background: #007dbb; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxNSUiIHN0b3AtY29sb3I9IiMwMDdkYmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI0MSUiIHN0b3AtY29sb3I9IiM1YWFiYzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1OSUiIHN0b3AtY29sb3I9IiM1YWFiYzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4NSUiIHN0b3AtY29sb3I9IiMwMDdkYmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left, #007dbb 15%, #5aabc4 41%, #5aabc4 59%, #007dbb 85%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(15%,#007dbb), color-stop(41%,#5aabc4), color-stop(59%,#5aabc4), color-stop(85%,#007dbb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #007dbb 15%,#5aabc4 41%,#5aabc4 59%,#007dbb 85%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #007dbb 15%,#5aabc4 41%,#5aabc4 59%,#007dbb 85%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #007dbb 15%,#5aabc4 41%,#5aabc4 59%,#007dbb 85%); /* IE10+ */
    background: linear-gradient(to right, #007dbb 15%,#5aabc4 41%,#5aabc4 59%,#007dbb 85%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007dbb', endColorstr='#007dbb',GradientType=1 ); /* IE6-8 */ 
}

/* ICONS */

.icon{
    position: relative;
    width: 40px;
    height:40px;
    border-radius:40px;
    border: 2px solid #99c84d;
    overflow: hidden;
}
.icon *{
    position: absolute;
}

.icon-green{
    border-color: $color-green;
}
.icon-green *{
    color: $color-green !important;
}

.icon-blue{
    border-color: $color-blue;
}
.icon-blue *{
    color: $color-blue !important;
}

.icon-yellow{
    border-color: $color-yellow;
}
.icon-yellow *{
    color: $color-yellow !important;
}

.icon-orange{
    border-color: $color-orange;
}
.icon-orange *{
    color: $color-orange !important;
}

.icon-red{
    border-color: $color-red;
}
.icon-red *{
    color: $color-red !important;
}