#home{
    /* STAGE */
    .stage{
        background: #ecf0f1;
        padding: 40px 0;
        
        h1{
            font-size: 18px;
            margin-top: 20px;
        }
        
        p{
            padding: 0 0 20px; 
        }
        
        .social {
            a{
                font-weight: 300 !important;
                disply: none;
            }
            i{
                float: right;
                clear: both;
                margin: -10px 0 -30px 0;
                font-size: 30px;
                color: #adb1b2;

                &:hover{
                    color: #555;
                }
            }
        }
        
        .videoframe{
            margin-right: 0;
        }
        
    }
    
    
    .social {
        margin-top: 10px;
        a{
            font-weight: inherit !important;
        }
    }
    
    /* NEWS */
    .news{
        padding: 20px  0 20px;
        margin: 20px 0 40px;
        
        a{
            display: block;
            margin: 0 0 10px;
            text-decoration: none;
            
            &:last-child{
                margin-bottom: 20px;
            }
        }
        
        h3{
            margin: 0 0 20px;
        }
        
    }

    #patron{
        margin: 20px 0 0 auto;
    }
}