#project {
    .stage {
        height: 535px;
        width: 100%;
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        margin: 0 0 20px;
        background-color: #555;
        * {
            color: #FFF;
        }
        h2 {
            margin: 0;
        }

        div.title {
            position: absolute;
            background: rgba(9, 9, 9, .8);
            margin: 20px;
            padding: 15px 20px 15px 15px;
            max-width: 700px;
            display: table;
            >div.row{
                display: table-row;
                >div{
                    display: table-cell;

                    &:first-child{
                        white-space: nowrap;
                        vertical-align: middle;
                        position: relative;
                        left: -10px;
                        min-width: 50px;
                        i {
                            color: $color-green;
                        }
                    }
                    span{
                        margin-top: 5px;
                        margin-bottom: -5px;
                        &:first-child{
                            float: left;
                        }
                        &:last-child{
                            float: right;
                        }
                    }
                }
            }
        }
        
        div.gallery {
            position: absolute;
            top: 420px;
            display: inline-block;
            background: rgba(9, 9, 9, .8);
            margin: 20px;
            padding: 20px 15px 12px;
            cursor: pointer;
            
            i{
                font-size: 35px;
            }
        }
        
        div.details {
            position: relative;
            background: rgba(9, 9, 9, .8);
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 25px 25px 20px 25px;
            text-align: center;
            overflow: hidden;
            .info {
                position: relative;
                height: 50px;
                white-space: nowrap;
                padding: 0;
                margin: 0 0 10px;
                display: block;

                .icon {
                    position: absolute;
                    top: 0;
                    left: 0;
                    overflow: hidden !important;
                }
                .text {
                    position: absolute;
                    top: 6px;
                    left: 60px;
                }
            }
            button,
            .button {
                width: 100%;
                padding-left: 0;
                padding-right: 0;
                margin: 0 auto;
            }
            .progress_details {
                position: relative;
                top: 18px;
            }
        }
    }
    
    &.small{
        div.details {
            position: relative;
            top: 335px;
            padding: 0px 15px 15px 15px;        

            .progress_details {
                position: relative;
                top: 5px;
            }

            .progress{
                margin-top: 15px;
                margin-bottom: 10px;
            }
        }
    }
    
    @media (max-width: 767px) {
        .stage {
            div.details {
                margin-top: 510px;
            }
        }
        .main-content {
            margin-top: 530px;
        }
        
        &.small{
            div.details {
                top: 10px;
            }
            .main-content {
                margin-top: 210px;
            }
        }
    }
    .content-area {
        .box {
            margin-bottom: 40px;
        }
        .social {
            margin: 0 0 20px;
            * {
                display: inline-block;
                -webkit-transition: color 100ms linear;
                -moz-transition: color 100ms linear;
                -o-transition: color 100ms linear;
                -ms-transition: color 100ms linear;
                transition: color 100ms linear;
            }
            a {
                position: relative;
                height: 48px;
                margin: 1px 10px 10px;
                padding: 0 15px 0 55px;
                i {
                    position: absolute;
                    top: 15px;
                    left: -4px;
                    font-size: 50px;
                    padding: 0 2px;
                }
                div {
                    margin-top: 16%;
                    font-size: 15px;
                }
            }
            .fb {
                i {
                    color: #3b508f;
                    &:hover {
                        color: #1b306f;
                    }
                }
            }
            .tw {
                i {
                    color: #4d9bf1;
                    &:hover {
                        color: #2d7bd1;
                    }
                }
            }
        }
        .details {
            margin-bottom: 40px;
            i.quote {
                margin-bottom: 20px;
                display: inline-block;
            }
            * {
                color: #FFF;
            }
            .user_thumb {
                margin: 10px auto;
            }
        }
        .q_and_a {
            max-height: 400px;
            .row, .row-fluid {
                display: table;
                margin-bottom: 10px;
                >div {
                    display: table-cell;
                    &.col15 {
                        width: 15%;
                        vertical-align: top;
                    }
                    &.col85 {
                        width: 85%;
                        vertical-align: middle;
                    }
                }
                &.reply {
                    margin-bottom: 40px;
                }
                &.alert {
                    border: 1px solid #CCC;
                    background: #F5F5F5;
                    margin-left: -10px;
                    padding-top: 20px !important;
                    margin-bottom: 20px !important;
                }
            }
        }
        .content-block {
            border-top: 1px solid $font-color-secondary;
            padding: 20px;
            overflow: auto;
            h2 {
                margin: 0 0 20px;
            }
            >img:nth-of-type(1) {
                float: left;
                clear: both;
                margin: 0 20px 20px 0;
            }
            iframe{
                border: none;
                max-width: 100%;
            }
            .risk {
                position: relative;
                clear: both;
                height: 250px;
                overflow: hidden;
                padding: 10px 30px 0;
                background:
                /* Shadow covers */
                linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%,
                /* Shadows */
                radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)), radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
                background:
                /* Shadow covers */
                linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%,
                /* Shadows */
                radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
                background-repeat: no-repeat;
                background-color: white;
                background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
                /* Opera doesn't support this in the shorthand */
                background-attachment: local, local, scroll, scroll;
                >a {
                    position: absolute;
                    width: 100%;
                    height: 20px;
                    bottom: 0;
                    left: 0;
                    i {
                        position: absolute;
                        right: 10px;
                        bottom: 0;
                    }
                }
            }
        }
        aside {
            .goodies {
                box-sizing: border-box;
                h2 {
                    margin: 0 0 20px;
                }
                .goodie {
                    border-bottom: 1px solid $font-color-secondary;
                    position: relative;
                    margin: 0 0 20px;
                    padding: 0 0 10px;
                    overflow: hidden;
                    &:last-child {
                        border: none;
                    }
                    h3 {
                        display: block;
                        width: 70%;
                        margin: 0 0 5px;
                    }
                    .amount {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 28%;
                        text-align: right;
                    }
                    .description {
                        color: $font-color-secondary;
                    }
                }
            }
            .investors {
                box-sizing: border-box;
                margin: 0;
                h2 {
                    margin: 0 0 20px;
                }
                .investor {
                    border-bottom: 1px solid $font-color-secondary;
                    position: relative;
                    margin: 0 0 20px;
                    padding: 0 0 10px;
                    overflow: hidden;
                    clear: both;
                    &:last-child {
                        border: none;
                    }
                    .col1 {
                        width: 28%;
                        float: left;
                    }
                    .col2 {
                        width: 65%;
                        float: right;
                    }
                    h3 {
                        display: block;
                        width: 70%;
                    }
                    .amount {
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 28%;
                        text-align: right;
                    }
                    .description {
                        display: inline-block;
                        color: $font-color-secondary;
                    }
                }
            }
            .annuity_calculator {
                .range_value {
                    white-space: nowrap;
                    display: inline-block;
                    float: right;
                    padding: 10px 0 10px;
                    clear: both;
                }
                #annuity_calculator_chart {
                    margin: 10px 0;
                    height: 200px !important;
                    width: 100% !important;
                }
                table {
                    table-layout: fixed;
                    td, th {
                        text-align: right;
                        white-space: nowrap;
                        &:first-child {
                            text-align: center;
                        }
                        &:nth-child(2) {
                            color: $color-secondary;
                        }
                        &:nth-child(3) {
                            color: $color-primary;
                        }
                    }
                }
            }
            .social-box {
                position: relative;
                display: block;
                height: 200px;
                overflow: hidden;
                background: $color-primary-hover;
                margin-bottom: 20px;
                
                -webkit-transition: background-color 100ms linear;
                -moz-transition: background-color 100ms linear;
                -o-transition: background-color 100ms linear;
                -ms-transition: background-color 100ms linear;
                transition: background-color 100ms linear;
                &:hover {
                    background: darken($color-primary-hover, 10);
                }
                * {
                    color: #FFF;
                }
                >i{
                    position: absolute;
                    display: inline-block;
                    top: 55px;
                    font-size: 90px;
                    left: 50%;
                    margin-left: -50px;
                }
                .stats {
                    position: relative;
                    top: 60px;
                    margin: auto;
                    width: 200px;
                    i {
                        position: absolute;
                        display: inline-block;
                        width: 50%;
                        font-size: 90px;
                    }
                    .amount {
                        position: absolute;
                        top: -40px;
                        right: 0;
                        width: 50%;
                        text-align: right;
                        font-size: 50px;
                    }
                    .amount-desc {
                        position: absolute;
                        top: 20px;
                        right: 0;
                        width: 50%;
                        text-align: right;
                        font-size: 25px;
                    }
                }
                .action-text {
                    position: relative;
                    top: 130px;
                    left: 0;
                    font-size: 25px;
                    font-weight: bold;
                    text-align: center;
                    margin-bottom: 5px;
                }
                .action-link {
                    position: relative;
                    top: 130px;
                    left: 0;
                    font-size: 20px;
                    text-align: center;
                }
                a {
                    font-size: 18px;
                }
                &.twitter {
                    background: #4d9bf1;
                    &:hover {
                        background: darken(#4d9bf1, 10);
                    }
                }
                &.facebook {
                    background: #3b508f;
                    &:hover {
                        background: darken(#3b508f, 10);
                    }
                }
                &.youtube {
                    background: #a30007;
                    &:hover {
                        background: darken(#a30007, 10);
                    }
                }
            }
        }
    }
}
