/* ------------
 GENERAL PAGE STYLES
*/

/* CONTAINER */
body>.content-area{
    min-height: 400px;
}

.content-area{
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}

.container,
.container-fluid{
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

/* general */
.ajaxload{
    display: none;
}


/* frame */
.frame {
    position: relative;
    display: block;
    border: 7px solid #FFF;
    -webkit-box-shadow: 0 2px 3px #aaa;
    -moz-box-shadow: 0 2px 3px #aaa;
    box-shadow: 0 2px 3px #aaa;
    
    img {
        width: 100%;
    }
}

.smallframe {
    position: relative;
    display: block;
    border: 3px solid #FFF;
    -webkit-box-shadow: 0 1px 3px #aaa;
    -moz-box-shadow: 0 1px 3px #aaa;
    box-shadow: 0 1px 3px #aaa;
    
    img {
        width: 100%;
    }
}

/* box */
.box{
    border: 1px solid #CCC;
    padding: 20px;
}


/* video */
.videoframe {
    position: relative;
    margin: 20px auto;
    width: 95%;
    float: center;
    height: auto;
    overflow: hidden;
    
    video,
    embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
}

video{
    display: none; //will be displayed on click
}

/* gallery */
.gallery{
    margin: auto;
    text-align: center;
    
    img{
        width: 140px;
        display: inline-block;
        border: 7px solid #FFF;
        -webkit-box-shadow: 0 2px 3px #aaa;
        -moz-box-shadow: 0 2px 3px #aaa;
        box-shadow: 0 2px 3px #aaa;
        margin: 0 10px 10px 0;
    }
}

/* file */
.files{
    text-align: center;
    padding-top: 10px;
}

.file{
    display: inline-block;
    text-align: center;
    padding: 10px;
    margin: 20px;
    i{
        font-size: 4em;
        color: $color-secondary;
    }
    div{
        margin-top: 10px;
        font-size: 15px;
    }
}

/* Header */
header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background: #FFF;
    padding: 20px 0 0;
    overflow: hidden;
    text-align: center;
    
    .hidden-phone .brand{
        margin: 0 0 20px 0;
        float: left;
        clear: both;
    }
    
    .visible-phone .brand{
        margin-bottom: 20px;
        display: block;
    }
    
    div.login{
        padding: 18px 0;
        text-align: right; 

        opacity: 0.5;
    }
    
    div.login:hover
    {
        opacity: 1;

        /* Firefox */
        -moz-transition-property: opacity;
        -moz-transition-duration: 0.4s;
        /* WebKit */
        -webkit-transition-property: opacity;
        -webkit-transition-duration: 0.4s;
        /* Standard */
        transition-property: opacity;
        transition-duration: 0.4s;
    }
    
    div.login a{
        text-decoration: none;
        display: block;
        margin: 5px 5px 0 auto;
    }
    
    /* general header nav styles */
    nav{
        
        ul{
            width: 100%;
            display: table-row;
            padding: 0;
            margin: 0;
            
            li{
                position: relative;
                display: table-cell;
                white-space: nowrap;
                margin: 0;
                padding: 0;
                border-left: 1px solid #EEE;

                -webkit-transition: background-color 100ms linear;
                -moz-transition: background-color 100ms linear;
                -o-transition: background-color 100ms linear;
                -ms-transition: background-color 100ms linear;
                transition: background-color 100ms linear;
                
                &:first-child{
                    border: none !important;
                }
                
                *{
                    line-height: 1em;
                    white-space: nowrap;
                }
                
                a,
                a:hover,
                a:active{
                    text-decoration: none;
                    color: #FFF;
                }
            }
            
        }
        
        #main-nav{
            background: #333;
            overflow: hidden;
            
            li{
                padding: 5px 30px 10px;

                &:hover,
                &.active{
                    background: $color-primary;
                }
                &:last-child{
                    border: none !important;
                    text-align: right;
                    overflow: hidden;
                    width: 100%;
                    padding-right: 10px;
                    
                    a, *{
                        color: $color-primary;
                    }
                    &:hover,
                    &.active{
                        background: #333;
                    }
                }
            }
        }
        
        #secondary-nav{
            width: 100%;
            background: $color-primary;
            min-height: 4px;
            
            li{
                padding: 6px 10px;
                margin: 0;
                display: inline-block;

                &:hover,
                &.active{ 
                    background: #FFF;

                    a{
                        color: $font-color;
                    }
                }
            }
        }
        
    }
    
    #mobile-nav-trigger{
        background: #333;
        padding: 10px 30px;
        line-height: 1em;
        white-space: nowrap;
        color: #FFF;
        border-bottom: 3px solid $color-primary;
        cursor: pointer;
    }
}

/* TABS */

.tabs{
    position: relative;
    margin: 0 0 40px;
    
    >ul{
        margin: 0;
        padding: 0;
        
        li{
            display: inline-block;
            list-style: none;
            margin: 0;
            padding: 5px 10px;
            border: 1px solid $font-color-secondary;
            border-right: none;
            float:left;
            
            &:last-child{
                border-right: 1px solid $font-color-secondary;
            }
            
            &:hover,
            &.active{
                background: #EEE;
            }
        }
    }    
    >div{
        position: relative;
        top: -1px;
        clear: both;
        border: 1px solid $font-color-secondary;
        overflow: hidden;
        padding: 10px 30px 0;
        display: none;
        max-height: 300px;
        
        -webkit-transition: max-height .25s ease-out;
        -moz-transition: max-height .25s ease-out;
        -ms-transition: max-height .25s ease-out;
        transition: max-height .25s ease-out;

        background:
            /* Shadow covers */
            linear-gradient(white 30%, rgba(255,255,255,0)),
            linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,

            /* Shadows */
            radial-gradient(50% 0, farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)),
            radial-gradient(50% 100%,farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
        
        background:
            /* Shadow covers */
            linear-gradient(white 30%, rgba(255,255,255,0)),
            linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,

            /* Shadows */
            radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
            radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
        
        background-repeat: no-repeat;
        background-color: white;
        background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;

        /* Opera doesn't support this in the shorthand */
        background-attachment: local, local, scroll, scroll;
        
        table{
            vertical-align: top;
            margin: 10px 0 20px;

            td:first-child{
                text-align: left;
            }
            td:last-child{
                text-align: right;
                white-space: nowrap;
            }
        }
        
        &.tab{
            min-height: 500px;
            overflow: auto;
            
            p a{
                text-decoration: underline;
            }

            iframe{
                border: none;
                max-width: 100%;
            }
            
        }
        
        &.active{
            display: block;
        }
    }
    
    &.open{ 
        >div{
            max-height: 800px !important;
            overflow: auto;
            background: none;
            
            -webkit-transition: max-height .25s ease-in;
            -moz-transition: max-height .25s ease-in;
            -ms-transition: max-height .25s ease-in;
            transition: max-height .25s ease-in;
        }
        
        .toggleTabSize.open{
            display: none;
        }
        
        .toggleTabSize.close{
            display: block;
        }
            
    }
    
    >a{
        position: absolute;
        width: 100%;
        height: 20px;
        bottom: 0;
        left: 0;

        i{
            position: absolute;
            right: 10px;
            bottom: 0;
        }
    }
    
    
    .toggleTabSize.close{
        display: none;
    }
    
    .tabBtn{
        height: 30px !important;
        text-align: center;
        display: none !important;

        a{
            position: relative;
            top: 0;
            font-weight: bold;
        }

        &.active{
            border-bottom: none;
        }
    }
    
    @media (max-width: 730px){
        
        .tab{
            position: relative;
            top: 0;
        }
        
        .toggleTabSize{
            display: none !important;
        }

        >ul{
            display: none !important;
        }
        
        >div.tab{
            max-height: none !important;
            
            >a{
                display: none !important;
            }
        }
        
        .tabBtn{
            display: block !important;
        }
        
        .mobile_hide_tab{
            display: none !important;
        }
    }
}

/* USER THUMB*/
.user_thumb{
    position: relative;
    background: #FFF;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: auto;
    border: 3px solid #FFF;
    
    i{
        position: absolute;
        left: 0;
        top: 0;
        font-size: 70px;
        line-height: 1em;
        color: #CCC !important;
    }
}

/* rangeslider adjustments */
.rangeslider, input[type=range]
{
    margin: 20px 0 0 0;
    display: block;
    width: 100%;
    
    &.small{
        height: 10px;
        
        .rangeslider__fill{
            height: 10px;
        }
        
        .rangeslider__handle{
            height: 20px;
            width: 20px;
            margin-top: 5px;
            
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
        }
    }
}
.rangeslider__fill{
    background: $color-primary;
}
input[type=range]{
    visibility: hidden;
    margin: 20px 0;
}

/* FOOTER */
footer{
    background: #f8f8f8;
    font-size: 15px;
    padding: 20px 10px 40px;
    margin: 50px 0 0 0;
    
    a{
        color: #c1c1c1;
        text-decoration: none;
    }
    
    img{
        margin: 0 10px 10px 0;
    }
    
    address,
    address *{
        font-style: normal;
        text-decoration: none;
        color: #c1c1c1 !important;
        text-align: center;
    }
    
    .details{
        margin: 20px 0 -20px;
        
        text-align: justify;
        
        h1, h2{
            color: #999 !important;
            font-size: 15px;
            font-weight: 400;
            margin: 0 0 10px;
        }
        
        h1{
            font-size: 15px;
        }
        
        h2{
            font-size: 13px;
        }
        
        p, a, b, strong{
            color: #999 !important;
            font-size: 12px;
            font-weight: 300;
        }
    }
    
    h4{
        color: $font-color-secondary;
        font-family: $font-primary-regular-stack;
        font-size: 15px;
        margin: 0 0 20px;
    }
    
    .social{
        text-align: right;
        
        i{
            color: #7f7f7f;
            font-size: 30px;
            
            &:hover{
                color: #555;
            }
        }
    }
    
    /* footer nav */
    nav{
        margin: 40px 0 80px;
        
        >ul{
            padding: 0;
            margin: 10px;
            
            ul{
                margin: 10px 0 0;
                padding: 0;
            }
            
            >li{
                display: inline-block;
                padding: 0;
                font-weight: bold;
                width: 200px;
                margin: 20px inherit;
                
                 li{
                    display: block;
                    font-weight: normal;
                }
            }
        }
    }
}
