    @media all and (min-width: 400px) and (max-width:767px){

        .hero{
            background: none !important;

            .title{
                max-width: 90% !important;
            }
        }
    }
    @media (max-width: 767px){

        aside{
            position: relative;
        }

        header{
            input, 
            .input{
                display: block;
            }

            nav#main-nav{
                height: 1000px;
                width: 100%;

                ul{
                    display: block;
                }

                li{
                    display: block;
                    border: none;
                    border-bottom: 1px solid #FFF !important;
                    min-height: 28px;
                }
            }

        }

        .project-preview{
            width: 100% !important;
        }
        
        
            .small div.details {
                top: 0 !important;
            }
        
    }

    @media all and (min-width: 765px) and (max-width:1198px){

        .stage .details,
        .hero .details{
            .text{
                margin-top: 3px;
                margin-left: -4px;
                font-size: 20px !important;
            }
        }

        .stage .title,
        .hero .title{
            max-width: 560px !important;
        }
    }
