#responsive-menu {
    display: none;
    position: absolute;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
    width: 260px;
    overflow-x: none;
    overflow-y: auto;
    background: #333;
    color: #fff;

    &.right {
        left: auto;
        right: -260px
    }
    &.left {
        left: -260px;
        right: auto
    }
    
    >div{
        
        >div{
            width: 50%;
            height: 100%;
            float: left;
            overflow: hidden;
            
            .container{
                padding: 0;
            }
            
            ul{
                margin: 0;
                padding: 0;
                width: 100%;
                
                li{
                    padding: 10px;
                    display: block;
                    list-style: none;
                    margin: 0;
                    width: 100%;
                    box-sizing: border-box;
                    text-align: left !important;

                    *{
                        color: #FFF;
                        white-space: normal;
                    }
                }
            }
            
            &:first-child{
                li{
                     
                    &:hover,
                    &.active{
                        background: $color-primary;
                    }
                    &:last-child{
                        border: none !important;
                        text-align: right;
                        overflow: hidden;
                        width: 100%;
                        padding-right: 10px;

                        a, *{
                            color: $color-primary;
                        }
                        &:hover,
                        &.active{
                            background: #333;
                        }
                    }
                }
            }
            &:last-child{
                li{
                    background: $color-primary; 

                    &:hover,
                    &.active{
                        background: #FFF;
                        *{
                            color: $font-color;
                        }
                    }
                }
            }
        }
    }
}
