/* hero */
.hero{
    position: relative;
    margin: 40px auto;
    padding: 0;
    background: #FFF;
    overflow: hidden;
    border: 1px solid #BBB;
    min-height: 450px;
    
    -webkit-box-shadow: 5px 5px 10px #aaa;
    -moz-box-shadow: 5px 5px 10px #aaa;
    box-shadow: 5px 5px 10px #aaa;
    
    background-size: cover !important;
    background-position: 50% 50% !important;
    background-repeat: none !important;
    
    
    *{
        color: #FFF;
    }
    
    h2{
        margin: 0;
    }
    
    div.title {
        position: absolute;
        background: rgba(9, 9, 9, .8);
        margin: 20px;
        padding: 15px 20px 15px 15px;
        max-width: 700px;
        display: table;
        >div.row{
            display: table-row;
            >div{
                display: table-cell;

                &:first-child{
                    white-space: nowrap;
                    vertical-align: middle;
                    position: relative;
                    left: -10px;
                    min-width: 50px;
                    i {
                        color: $color-green;
                    }
                }
                span{
                    margin-top: 5px;
                    margin-bottom: -5px;
                    &:first-child{
                        float: left;
                    }
                    &:last-child{
                        float: right;
                    }
                }
            }
        }
    }
    
    div.visible-phone{
        background-size: cover !important;
        background-position: 50% 50% !important;
        background-repeat: none !important;
        min-height: 350px;
        background-color: #555;
    }
    
    div.details{
        background: rgba(9,9,9,.7);
        padding: 25px;
        text-align: center;
        
        .info{
            position: relative;
            height: 50px;
            white-space: nowrap;
            padding: 0;
            margin: 0 0 10px;
            display: block;

            .icon{
                position: absolute;
                top: 0;
                left: 0;
            }

            .text{
                position: absolute;
                top: 6px;
                left: 60px;
            }
        }

        button,
        .button{
            width: 100%;
            padding-left: 0;
            padding-right: 0;
            margin: 0 auto;
        }
        
        .progress_details {
            position: relative;
            top: 18px;
        }
    }
    
    &.small{
        div.details {
            position: relative;
            top: 300px;
            min-height: 200px;            
            padding: 0px 15px 15px 15px;    
            margin: 0;

            .progress_details {
                position: relative;
                top: 5px;
            }

            .progress{
                margin-top: 15px;
                margin-bottom: 10px;
            }
        }
    }
}


/* project-preview */

.project-preview{
    position: relative;
    display: inline-block;
    width: 250px;
    min-height: 550px !important;
    background: #333;
    min-height: 390px;
    margin: 0 20px 80px 0 !important;
    padding: 0 0 10px;
    overflow: hidden;
    text-align: center;
    vertical-align: top; 

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    >*, 
    >div>*{
        color: #FFF;
    }
    
    h2,
    h3{
        margin: 5px;
    }
    div.image{
        background-size: cover !important;
        background-position: 50% 50% !important;
        background-repeat: none !important;
        min-height: 150px;
        background-color: #555;
    }
    
    .progress{
        width: 80%;
        margin: 20px auto;
    }
    
    .align-top{
        padding-bottom: 160px;
    }
    
    .align-bottom{
        position: absolute;
        bottom: 20px;
        width: 100%;
    }
}
