/* settings */
$font-color:                    #555;
$font-color-secondary:          #c1c1c1;

$font-primary-regular-stack:    'Fira Sans', sans-serif;
$font-primary-regular-weight:   300;
$font-primary-bold-stack:       'Fira Sans', sans-serif;
$font-primary-bold-weight:      400;
$font-primary-line-height:      1.2em;

$font-secondary-stack:          'whateverittakes', Arial;
$font-secondary-weight:         normal;
$font-secondary-line-height:    .9em;

$color-primary:             #99c84d;
$color-primary-hover:       #70ba30;
$color-secondary:           #007dbb;
$color-secondary-hover:     #0a5f9f;
$color-error:               #f71f25;
$color-grey-background:     #f8f8f8;

$color-green:               $color-primary;
$color-blue:                $color-secondary;
$color-yellow:              #e5cf4d;
$color-orange:              #ed9033;
$color-red:                 $color-error;

/* general styles */
@import 'general';

/* responsive styles */
@import 'responsive';

/* responsive styles */
@import 'responsive_menu';

/* progress bar */
@import 'progress';

/* rangeslider */
@import 'rangeslider';

/* bubble */
@import 'bubble';

/* widget view of a project */
@import 'widget_project';

/* styles for pages */
@import 'pages';

/* styles for page: home */
@import 'page_home';

/* styles for page: project */
@import 'page_project';
