<div class="container" style="margin-top: 20px;">
    <div class="row-fluid">
        <div class="span12">
            <div class="alert alert-info">
                <%- url %>?r=<%- user.id%>
            </div>
        </div>
    </div>
</div>
