<script src="/js/lib/angular.min.js"></script>
<script src="/js/lib/angular-resource.min.js"></script>
<script>
var app = angular.module('bauhaus.resetPassword', ['ngResource']);

app.factory('resetPasswordService', function ($resource) {
    return $resource('/resetPassword/:token', {}, {
        reset: {
            method: 'POST'
        }
    });
});

// http://stackoverflow.com/questions/14012239/password-check-directive-in-angularjs
app.directive('passwordVerify', [function () {
    return {
        require: '?ngModel',
        restrict: 'A',
        scope: {
            origin: '=passwordVerify'
        },
        link: function (scope, element, attrs, ctrl) {
            if(!ctrl) {
                return;
            }

            function validate(value) {
                ctrl.$setValidity('passwordMatch', scope.origin === value);
                return value;
            }

            ctrl.$parsers.unshift(validate);

            scope.$watch('origin', function(value) {
                validate(ctrl.$viewValue);
            });
        }
    };
}]);

app.controller('resetPassword', function ($scope, resetPasswordService) {
    // will be set true, if user first clicks submit to init validation messages
    $scope.submitted = false;
    // will be set true if registration was confirmed by server and success message is shown
    $scope.success = false;
    $scope.invalid = false;

    $scope.reset = {
        password1: '',
        password2: ''
    }; 

    $scope.submit = function () {
        // set submit true to show error messages
        $scope.submitted = true;
        
        if ($scope.resetPassword.$valid === true) {
            // call webservice
            resetPasswordService.reset({ token: "<%- token %>"}, $scope.reset, function () {
                $scope.success = true;
                $scope.invalid = false;
            }, function (err) {
                $scope.invalid = true;
            })
        }
    }
});

</script>
<div class="container" style="min-height: 500px;">
    <div class="row-fluid">
        <div class="span10 offset1">
            <div ng-app="bauhaus.resetPassword" style="margin: 40px 0;">
                <div ng-controller="resetPassword">
                    <div ng-show="!success">
                        <% if (typeof description === 'string') { %>
                            <%- description %>
                        <% } %>

                        <form name="resetPassword">

                            <span class="error" ng-show="submitted && invalid">
                                Das Passwort konnte nicht zurück gesetzt werden. Bitte <a href="<%- requestPage.route %>">eine neue E-Mail</a> zum Zurücksetzten des Passworts anfordern. 
                            </span>

                            <div class="alert alert-info">
                                <div class="row-fluid">
                                    <div class="span10 offset1">
                                        <label for="password1">Passwort:</label><input type="password" name="password1" ng-model="reset.password1" required ng-minlength="6"/>
                                        <span class="error" ng-show="submitted && (resetPassword.password1.$error.required || resetPassword.password1.$error.minlength)">
                                            Bitte mindestens 6 Zeichen eingeben.  
                                        </span>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span10 offset1">
                                        <label for="password2">Password (Wiederholung):</label><input type="password" name="password2" ng-model="reset.password2" password-verify="reset.password1"/>
                                        <span class="error" ng-show="submitted && resetPassword.password1.$error.minlength !== true && resetPassword.password2.$error.passwordMatch">
                                            Die Passwörter stimmen nicht überein.
                                        </span>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span10 offset1">
                                        <input type="submit" ng-click="submit()" value="Abschicken" class="span2 offset10" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div ng-show="success === true">
                        <% if (typeof success === 'string') { %>
                            <%- success %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>