<style type="text/css">
    #profile input.ng-invalid {
        border-color: red;
    }

    #profile .input-big {
        width: 95%;
    }
    
    #profile .input-mid {
        width: 60%;
    }

    #profile .input-short {
        width: 26%;
    }
    
    #profile legend{
        padding: 20px;
    }
    
    #profile .row-fluid{
        margin: 0 0 20px;
    }
    
    #profile .row-fluid input{
        margin-top: -10px;
    }
    
    .filename{
        display: none;
    }
    
</style>

<script src="/js/lib/angular.min.js"></script>
<script src="/js/lib/angular-resource.min.js"></script>
<script src="/js/bvlib/cropImages.js"></script>
<script src="/js/bvlib/data.js"></script>
<script src="/js/bvlib/bauhaus.form.js"></script>
<script>
var app = angular.module('bauhaus.userProfile', ['ngResource', 'bauhaus.form']);   

// Load user schemas
app.factory('profileSchemaService', function ($resource) {
    return $resource('/user/schema', {}, {
        get: {}
    });
});

// get and put user profile
app.factory('profileService', function ($resource) {
    return $resource('/user/profile', {}, {
        get: {},
        put: {
            method: 'PUT'
        }
    });
});

app.factory('removeElement', function () {
    return function (selector) {
        jQuery(selector).remove();
    }
});

app.controller('ProfileController', function ($scope, profileService, profileSchemaService, removeElement) {
    // will be set true, if user first clicks submit to init validation messages
    $scope.showErrors = false;
    // will be set true if registration was confirmed by server and success message is shown
    $scope.success = false;
    $scope.invalid = false;

    $scope.user = {};
    $scope.schema = {};

    // load profile and schemata
    profileService.get({}, function (result) {
        $scope.user = result;

        profileSchemaService.get({}, function (result) {
            if ($scope.user.fields.type in result) {
                $scope.schema = result[ $scope.user.fields.type ];
            }
        });
    })    


    $scope.submit = function () {
        // set submit true to show error messages
        $scope.showErrors = true;

        if ($scope.profileForm.$valid === true) {
            profileService.put({}, $scope.user, function (response) {
                // request successful
                $scope.success = true;
                removeElement('.disruptor.profile');
            })
            
        }
    }
});



</script>

<div class="container" style="margin-top: 20px;" id="profile">
    <div class="row-fluid">
        <div class="span8 offset2">
        
            <div ng-app="bauhaus.userProfile">
                <div ng-controller="ProfileController">
                    <div>
                        <% if (typeof description === 'string') { %>
                            <p><%- description %></p>
                        <% } %>
                        <div ng-show="success === true" class="alert alert-success center">
                            <% if (typeof success === 'string') { %>
                                <%- success %>
                            <% } %>
                        </div>

                        <% if (typeof changePasswordPage !== 'undefined' && typeof changePasswordPage.route === 'string') { %>
                                <a href="<%- changePasswordPage.route %>" class="button highlight" style="float:right;">Passwort ändern</a>
                        <% } %>

                        <form name="profileForm" novalidate style="clear:both;">
                            <div bauhaus-form ng-model="user" config="schema" show-errors="showErrors"></div>
                            <b>* Pflichtfelder</b>
                            <a href="#profile" ng-click="submit()" class="button" style="float:right;margin-top:20px;">Speichern</a>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>


