<div class="container" style="margin-top: 20px;">
    <div class="row-fluid">
        <div class="span12">
            <% if(typeof headline != "undefined") { %>
                <h1 class="highlight special xxxl"><%- headline %></h1>
            <% } %>
            <% if(typeof body != "undefined") { %>
                <div><%- body %></div>
            <% } %>
        </div>
    </div>
</div>
