<%
    /**
    * Helper functions
    */
    var displayNewForDays = 7;
    
    function formatForOutput(p, decimalPos){
        if(!isNaN(p)){
            decimalPos = (decimalPos == null)? 2: decimalPos;
            var decimal = (parseFloat((p - Math.floor(p)).toFixed(2))).toLocaleString("en-en").toString();
            var returnStr = Math.floor(p).toLocaleString("en-en");
            if(decimal != 0){
                returnStr += decimal.substring(1);
            }
        }
        else
            returnStr = " 0 ";
        return returnStr;
    }

    function getPercentage(pFundedBudget, pRequiredBudget){
        var percentage = pFundedBudget/pRequiredBudget*100;
        
        if(percentage < 0 )
            percentage = 0;
        if(percentage > 100 )
            percentage = 100;
        
        return percentage;
    }
    
    function getBadgeText(pStartDate, pFundedBudget, pRequiredBudget, pMinRequiredBudget){
        // timzone shift
        pStartDate = timezoneShift(pStartDate);
        
        var returnstr = "";
        if(pStartDate != null){
            if(new Date() <= new Date(pStartDate.getTime() + displayNewForDays * 86400000))
                returnstr = "neu";
            if(new Date() < pStartDate)
                returnstr = "bald";
            if(pFundedBudget >= pMinRequiredBudget && pMinRequiredBudget > 0)
                returnstr = "erfolgreich";
            if(pFundedBudget >= pRequiredBudget)
                returnstr = "erreicht";
        }
        
        return returnstr;
    }

    function getBadgeColor(pStartDate, pFundedBudget, pRequiredBudget, pMinRequiredBudget){
        // timzone shift
        pStartDate = timezoneShift(pStartDate);
        
        var returnstr = "";
        if(pStartDate != null){
            if(new Date() <= new Date(pStartDate.getTime() + displayNewForDays * 86400000))
                returnstr = "badge badge-green";
            if(new Date() < pStartDate)
                returnstr = "badge badge-yellow";
            if(pFundedBudget >= pMinRequiredBudget && pMinRequiredBudget > 0)
                returnstr = "badge badge-blue";     
            if(pFundedBudget >= pRequiredBudget)
                returnstr = "badge";        
        }
        
        return returnstr;
    }

    function getTimeFunding(pStatus, pStartDate, pEndDate, pReachedInTime, pFundedBudget, pRequiredBudget, pMinRequiredBudget){
        
        var returnStr = "";
        
        // timzone shift
        pStartDate = timezoneShift(pStartDate);
        pEndDate = timezoneShift(pEndDate);
        
        
        // not yet started?
        if(new Date() < pStartDate){
            
            var diff = pStartDate - new Date(); // to avoid timezone problems -> use server diff
            returnStr = "<br>startet <time datetime='" + pStartDate + "' data-countdown='" + diff + "'>" + pStartDate.getDate() + "." + (pStartDate.getMonth()+1) + "." + pStartDate.getFullYear() + " " + pStartDate.getHours() + ":" + pStartDate.getMinutes() + "</time>";
            
        } else if(pEndDate != null && pEndDate > new Date()) {
            
            var diff = pEndDate - new Date(); // to avoid timezone problems -> use server diff
            returnStr = "<br> endet <time datetime='" + pEndDate + "' data-countdown='" + diff + "'>" + pEndDate.getDate() + "." + (pEndDate.getMonth()+1) + "." + pEndDate.getFullYear() + " " + pEndDate.getHours() + ":" + pEndDate.getMinutes() + "</time>";
            
        } else {
            returnStr =  "beendet";
        }
        
        switch(pStatus) {
            case "completed":
                returnStr = "beendet"
                break;
            case "pause":
                returnStr = "pausiert"
                break;
        }
        
        var prefix = (pFundedBudget >= pRequiredBudget)? "erreicht" : "erfolgreich";
        // reached in time? 
        if(((pMinRequiredBudget > 0 && pFundedBudget >= pMinRequiredBudget) || pFundedBudget >= pRequiredBudget)){
            var reachedInTimeDate = new Date(pReachedInTime);
            
            // mark as completed only of finished, completed or full
            if(pFundedBudget >= pRequiredBudget || pEndDate <= new Date() || pStatus === "completed"){
                if(pReachedInTime !== 0){
                    if(pReachedInTime <= 3600000){
                        var reachedInMin = Math.ceil(pReachedInTime / 60000); 
                        var singlOrPlurM = (reachedInMin < 2)? "Minute" : "Minuten";
                        returnStr = prefix + " in <time> unter "+reachedInMin+" "+singlOrPlurM+" </time>";
                    } else if(pReachedInTime <= 86299999){
                        var reachedInH = Math.floor(pReachedInTime / 3600000); 
                        var reachedInMin = Math.ceil((pReachedInTime - reachedInH*3600000) / 60000); 
                        var singlOrPlurH = (reachedInH < 2)? "Stunde" : "Stunden"; 
                        var singlOrPlurM = (reachedInMin < 2)? "Minute" : "Minuten";
                        returnStr = prefix + " in <time> <nobr>"+reachedInH+" "+singlOrPlurH+"</nobr> und <nobr>"+reachedInMin+" "+singlOrPlurM+"</nobr> </time>";
                    } else {
                        var reachedInDays = Math. ceil(pReachedInTime / 86400000);
                        var singlOrPlurD = (reachedInDays < 2)? "Tag" : "Tagen"; 
                        returnStr = prefix +" in <time> "+reachedInDays+" "+singlOrPlurD+" </time>";
                    }
                } else{
                    returnStr = prefix;
                }
            }
        } 
        
        return returnStr;
    }

    function getTablesFromObjects(pObjects){
        var returnStr = "";
        
        var i = 0;
        pObjects.forEach(function(pObject){
            if(i % 2 === 0)
                returnStr += "<div class='row-fluid'>";
            
            returnStr += "<div class='span6'><table class='table table-bordered table-striped table-condensed'>";
            returnStr += "<thead><tr><th colspan='2'><center>" + pObject.name + "</center></th></tr></thead><tbody>";
            
            pObject['fields'].forEach(function(pRow){
            returnStr += "<tr><td><b>" + pRow.key + "</b></td><td>" + pRow.value + "</td></tr>";
            });
            
            returnStr += "<tbody></table></div>";
            if(i % 2 !== 0)
                returnStr += "</div>";
            i++;
        });
        if(i % 2 !== 0)
                returnStr += "</div>"; // close final one if odd number

        return returnStr;
    }

    /* Technology Name and Icon */
    function _getIconAndTextForTechnology(p){
        
        var returnArray = {
            "light": {
                icon: "<i class='flaticon-lightbulb9'></i>",
                text: "LED Beleuchtung"
            },
            "chp": {
                icon: "<i class='flaticon-engine'></i>",
                text: "BHKW"
            },
            "heating": {
                icon: "<i class='flaticon-heating3'></i>",
                text: "Heizung"
            },
            "compressed_air": {
                icon: "<i class='flaticon-pressure7'></i>",
                text: "Druckluft"
            },
            "process": {
                icon: "<i class='flaticon-first4'></i>",
                text: "Prozess"
            },
            "cooling": {
                icon: "<i class='flaticon-thermometer24'></i>",
                text: "Kühlung"
            },
            "ventilation": {
                icon: "<i class='flaticon-fan2'></i>",
                text: "Lüftung"
            },
            "mobility": {
                icon: "<i class='flaticon-electric42'></i>",
                text: "Mobilität"
            },
            "solar": {
                icon: "<i class='flaticon-solar6'></i>",
                text: "Solar"
            },
            "solarAndLight": {
                icon: "<nobr><i class='flaticon-solar6'></i><i class='flaticon-lightbulb9'></i></nobr>",
                text: "Solar und Beleuchtung"
            },
            "startup": {
                icon: "<nobr><i class='flaticon-handshake1'></i></nobr>",
                text: "Beteiligungsangebot"
            },
            "default":{
                icon: "<i class='flaticon-ecological17'></i>",
                text: p
            }
        };
        if(returnArray[p] != null)
            return returnArray[p];
        else
            return returnArray["default"];
    }

    function timezoneShift(pDate){
        pDate = new Date(pDate);
        return new Date(pDate.getTime() + pDate.getTimezoneOffset()*60000);
    }

    /* ADDITION HELPER */
    function shorten(str, lng) {
        var shorten;
        if (str.length > lng) {
            shorten = str.substr(0,(lng-3))+'...';
        } else {
            shorten = str;
        }
        return shorten;
    }

    function getFilename(path){
        var pathArray = path.split("/");
        var fileName = pathArray[pathArray.length - 1];
        pathArray = fileName.split("_");
        fileName = fileName.replace(("_"+pathArray[pathArray.length - 1]), "");
        return fileName;
    }

%>

<div class="container">
<% for (var i in projects) { %>
        <%
            var heroImgSrc = (projects[i].fields.content.hero_image != null && projects[i].fields.content.hero_image.files != null && projects[i].fields.content.hero_image.files.length > 0)?
                            "/files/" + projects[i].fields.content.hero_image.files[0] : 
                            "/img/placeholder.jpg";
            var projectUrl = projects[i].shortUrl || projects[i].id; 
        %>
    
    <div class="row-fluid">
        <div class="span12">
            <a href="/projekt/<%- projectUrl %>">
                <%
                    var additionalClass = "";
                    if(projects[i].type == "other"){
                        additionalClass = "small";
                    }
                %>
                <section class="hero <%- additionalClass %> <%- getBadgeColor(projects[i].startDate, projects[i].funding.fundedBudget, projects[i].requiredBudget, projects[i].minRequiredBudget) %>" data-badge-text="<%- getBadgeText(projects[i].startDate, projects[i].funding.fundedBudget, projects[i].requiredBudget, projects[i].minRequiredBudget) %>" style="background: url(<%- heroImgSrc %>);">
                    <div class="row-fluid">
                        <div class="span8">
                            <div class="title">
                                <div class="row">
                                    <div class="cell">
                                        <span class="xxxl"><%- _getIconAndTextForTechnology(projects[i].energyType).icon %></span>
                                    </div>
                                    <div class="cell">
                                        <h2 class="xxl"><%- projects[i].title %></h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div></div>
                                    <div>
                                        <span><%- _getIconAndTextForTechnology(projects[i].energyType).text %></span>
                                        <span><nobr><%- getTimeFunding(projects[i].status, projects[i].startDate, projects[i].endDate, projects[i].funding.reachedInTime, projects[i].funding.fundedBudget, projects[i].requiredBudget) %> <i class="flaticon-clock96"></i></nobr></span>
                                    </div>
                                </div>
                            </div>
                            <div class="visible-phone" style="background: url(<%- heroImgSrc %>);"></div>
                        </div>
                        <%
                            if(projects[i].type != "other") {
                        %>
                            <div class="span4 details">
                                <div class="info m">
                                    <div class="icon icon-yellow"><i class="flaticon-storm" style="font-size: 32px;left: 2px;top: 11px;"></i>
                                    </div>
                                    <div class="text xl" data-interest="<%- projects[i].interest %>"><output class="format_currency"><%- formatForOutput(projects[i].interest, 1) %></output>% Rendite
                                    </div>
                                </div>
                                <div class="info m">
                                    <div class="icon icon-green"><i class="flaticon-leaf32" style="font-size: 30px;left: 4px;top: 11px;"></i>
                                    </div>
                                    <div class="text xl "><output class="format_float"><%- formatForOutput(projects[i].co2savings, 1) %></output>t CO<sub>2</sub> Einsparung
                                    </div>
                                </div>
                                <div class="info m">
                                    <div class="icon icon-blue"><i class="flaticon-weekly7" style="font-size: 28px;top:11px;left:6px;"></i>
                                    </div>
                                    <div class="text xl" data-duration-years="<%- projects[i].contractDuration %>"><%- projects[i].contractDuration %> Jahre Laufzeit</div>
                                </div>
                                <% if(projects[i].efficiency != null && projects[i].efficiency.length > 0){ %>
                                    <div class="info m">
                                        <div class="icon icon-orange"><i class="flaticon-settings48" style="font-size: 32px;left: 5px;top: 12px;"></i>
                                        </div>
                                        <div class="text xl "><%- projects[i].efficiency %>% effizienter</div>
                                    </div>
                                <% } %>
                                <div class="info m">
                                    <div class="icon icon-red"><i class="flaticon-objective" style="font-size: 32px;left: 4px;top: 10px;"></i>
                                    </div>
                                    <div class="text xl "><output class="format_int"><%- formatForOutput(projects[i].requiredBudget) %></output>€ benötigt</div>
                                </div>

                                <%
                                    var fundedBudget = (projects[i].funding.fundedBudget >= projects[i].requiredBudget)? projects[i].requiredBudget : projects[i].funding.fundedBudget;
                                %>
                                <span class="progress_details"><output class="format_int"><%- formatForOutput(fundedBudget) %></output>€ von <%- projects[i].funding.supporters %> Investoren</span>
                                <div class="progress small">
                                    <span class="bar" style="width:<%- getPercentage(projects[i].funding.fundedBudget, projects[i].requiredBudget) %>%"></span>
                                    <% if(projects[i].minRequiredBudget != null && projects[i].minRequiredBudget != "") { %>
                                        <span class="bar-end" style="width:<%- (100 - getPercentage(projects[i].minRequiredBudget, projects[i].requiredBudget)); %>%"></span>
                                    <% } %>

                                    <div class="percent"></div>
                                </div>
                                <% if(projects[i].minRequiredBudget != null && projects[i].minRequiredBudget != "") { %>
                                    <div style="float:right;margin-top:-15px;margin-bottom: 10px;" class="m">Fundingschwelle: <output class="format_int"><%- projects[i].minRequiredBudget %></output>€</div>
                                <% } %>
                                
                                
                                <a href="/projekt/<%- projectUrl %>" class="highlight l bold button" style="margin-top:10px;">Mehr Details</a>
                            </div>
                        <% } %>
                    </div>
                    <%
                        if(projects[i].type == "other") {
                    %>
                        <div class="row-fluid">
                            <div class="span12 details">
                                <div class="row-fluid">
                                    <div class="span12">
                                        <div class="progress small">
                                            <span class="bar" style="width:<%- getPercentage(projects[i].funding.fundedBudget, projects[i].requiredBudget) %>%"></span>
                                            <% if(projects[i].minRequiredBudget != null && projects[i].minRequiredBudget != "") { %>
                                                <span class="bar-end" style="width:<%- (100 - getPercentage(projects[i].minRequiredBudget, projects[i].requiredBudget)); %>%"></span>
                                            <% } %>

                                            <div class="percent"></div>
                                        </div>
                                        <% if(projects[i].minRequiredBudget != null && projects[i].minRequiredBudget != "") { %>
                                            <div style="float:right;margin-top:-5px;" class="m">Fundingschwelle: <output class="format_int"><%- projects[i].minRequiredBudget %></output>€</div>
                                        <% } %>
                                    </div>
                                </div>
                                <div class="row-fluid">
                                    <div class="span8">
                                        <% if(projects[i].requiredBudget != null){ %>
                                            <span class="progress_details l"><i class="flaticon-objective error" style="font-size: 20px;"></i> <output class="format_int"><%- formatForOutput(projects[i].requiredBudget) %></output>€ benötigt
                                        <% } %>
                                        
                                        <% if(projects[i].funding.fundedBudget != null && projects[i].funding.fundedBudget > 0){ %>
                                            <%
                                                var fundedBudget = (projects[i].funding.fundedBudget >= projects[i].requiredBudget)? projects[i].requiredBudget : projects[i].funding.fundedBudget;
                                            %>
                                            <br><span class="m"><output class="format_int"><%- formatForOutput(fundedBudget) %></output>€ erreicht von <%- projects[i].funding.supporters %> Investoren</span></span>
                                        <% } %>
                                    </div>
                                    <div class="span4">
                                      <a href="/projekt/<%- projectUrl %>" class="highlight l bold button" style="margin-top:10px;height:25px;">Mehr Details</a>  
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </section>
            </a>
        </div>
    </div>
<% } %>

</div>

<!-- additional scripts -->
<script>
     document.addEventListener("DOMContentLoaded", function(event) {
        loadJSSync("/js/bvlib/jquery.bvCountdown.js");
        loadJSSync("/js/page_projects.js");
    });
</script>

