<script src="/js/lib/angular.min.js"></script>
<script src="/js/lib/angular-resource.min.js"></script>
<script>
var app = angular.module('bauhaus.changePassword', ['ngResource']);

app.factory('changePasswordService', function ($resource) {
    return $resource('/changePassword', {}, {
        change: {
            method: 'POST'
        }
    });
});

// http://stackoverflow.com/questions/14012239/password-check-directive-in-angularjs
app.directive('passwordVerify', [function () {
    return {
        require: '?ngModel',
        restrict: 'A',
        scope: {
            origin: '=passwordVerify'
        },
        link: function (scope, element, attrs, ctrl) {
            if(!ctrl) {
                return;
            }

            function validate(value) {
                ctrl.$setValidity('passwordMatch', scope.origin === value);
                return value;
            }

            ctrl.$parsers.unshift(validate);

            scope.$watch('origin', function(value) {
                validate(ctrl.$viewValue);
            });
        }
    };
}]);

app.controller('changePassword', function ($scope, changePasswordService) {
    // will be set true, if user first clicks submit to init validation messages
    $scope.submitted = false;
    // will be set true if registration was confirmed by server and success message is shown
    $scope.success = false;
    $scope.invalid = false;

    $scope.passwords = {
        oldPassword: '',
        password1: '',
        password2: ''
    }; 

    $scope.submit = function () {
        // set submit true to show error messages
        $scope.submitted = true;
        if ($scope.changePassword.$valid === true) {
            // call webservice
            changePasswordService.change({}, $scope.passwords, function () {
                $scope.success = true;
                $scope.invalid = false;
            }, function (err) {
                $scope.invalid = true;
            })
        }
    }
});

</script>
<div class="container" style="min-height: 500px;margin-top:40px;">
    <div class="row-fluid">
        <div class="span6 offset3">

            <div ng-app="bauhaus.changePassword">
                <div ng-controller="changePassword">
                    <div ng-show="!success">
                        <% if (typeof description === 'string') { %>
                            <%- description %>
                        <% } %>
                        
                        <% if (typeof requestPage !== 'undefined') { %>    
                            <p>
                                Solltest du dein Passwort vergessen haben, kannst du es  <a href="<%- requestPage.route %>" class="action_ajaxload"><u><b>hier zurücksetzten</b></u>.</a>
                            </p>
                        <% } %>                        
                        
                        <div class="alert alert-info">
                            <form name="changePassword">
                                <span class="error" ng-show="submitted && invalid">
                                    Das alte Passwort ist nicht korrekt.
                                </span>

                                <div class="row-fluid">
                                    <input type="password" name="oldPassword" ng-model="passwords.oldPassword" required placeholder="Altes Passwort" class="span12" />
                                    <span class="error" ng-show="submitted && changePassword.password1.$error.required">
                                        Bitte Passwort eingeben.
                                    </span>
                                </div>

                                <div class="row-fluid">
                                    <input type="password" name="password1" ng-model="passwords.password1" required ng-minlength="6" placeholder="Neues Passwort" class="span12" />
                                    <span class="error" ng-show="submitted && (changePassword.password1.$error.required || changePassword.password1.$error.minlength)">
                                        Das Passwort sollte mindestens 6 Zeichen lang sein.
                                    </span>
                                </div>


                                <div class="row-fluid">
                                    <input type="password" name="password2" ng-model="passwords.password2" password-verify="passwords.password1" placeholder="Neues Password (Wiederholung)" class="span12"/>
                                    <span class="error" ng-show="submitted && changePassword.password2.$error.passwordMatch && changePassword.password1.$error.minlength !== true">
                                        Die Passwörter stimmen nicht überein.
                                    </span>
                                </div>
                                <div class="row-fluid">
                                    <input type="submit" ng-click="submit()" value="Abschicken" class="span6 offset3 center highlight" />
                                </div>
                            </form>
                            
                        </div>
                    </div>
                    
                    <div ng-show="success === true" class="alert alert-success">
                        <% if (typeof success === 'string') { %>
                            <%- success %>
                        <% } %>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

