<div class="container">
    <div class="row-fluid">
        <div class="span8 offset2">
            <div id="ajaxload">
                <form id="password_form" action="/requestPasswordReset" method="POST">
                    <% if (typeof description === 'string') { %>
                        <div class="row-fluid">
                            <div class="span12">
                                <%- description %>
                            </div>
                        </div>
                    <% } %>
                
                    <div class="row-fluid validation-errors" style="display: none;">
                        <div class="span12 alert alert-danger center">
                            <h3 class="m">Es ist kein Benutzer mit dieser E-Mail-Adresse vorhanden.</h3>
                        </div>
                    </div>

                    <div class="alert">
                        <div class="row-fluid">
                            <div class="span12">
                                <span class="input span10 offset1"><input type="email" name="username" placeholder="E-Mail Adresse" required minlength="8"><i class="flaticon-bust"></i></span>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                <input type="submit" value="Abschicken" class="span10 offset1 highlight">
                            </div>
                        </div>
                    </div>
                </form>
                
                <% if (typeof success === 'string') { %>
                    <div id="password_success" style="display: none;">
                        <div class="row-fluid">
                            <div class="span12">
                                <%- success %>
                            </div>
                        </div>
                    </div>
                <% } %>
                
                <!-- load scripts: ajax and in page! -->
                <script>
                    var _loadRegisterScript = function(){
                        loadJSSync("/js/lib/jquery.validate.min.js");
                        loadJSSync("/js/lib/jquery.validate.bvTranslate.js");
                        loadJSSync("/js/page_passwordrequest.js");
                    }
                    if(window.jQuery == null)
                        window.addEventListener("load", _loadRegisterScript);
                    else
                        _loadRegisterScript();
                </script>
            </div>
        </div>
    </div>
</div>