<div id="home">
    <div class="highlight news">
        <div class="container">
            <div class="row-fluid">
                <div class="span12">
                    <h3>Newsletter:</h3>
                    <div class="row-fluid">
                        <div class="alert span12" style="margin:20px 0!important;padding:10px!important;">
                            <span id="newsletter_success" class="xl" style="color:green;display:none;">Vielen Dank.<br> Du wurdest erfolgreich angemeldet.</span>
                            <span class="error" id="newsletter_error"></span>
                            <div class="row-fluid" id="newsletter_register">
                                <div class="span9">
                                    <input type="email" placeholder="E-Mail" id="newsletter_email" name="EMAIL" class="required email span12" required style="color:#555;">
                                </div>
                                <div class="span3">
                                      <input type="submit" id="newsletter_submit" value="eintragen" name="subscribe" class="button span12 highlight">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- additional scripts -->
<script>
    var _loadScripts = function(){
        loadJSSync("/js/page_newsletter.js");
    }
    if(window.jQuery == null)
        window.addEventListener("load", _loadScripts);
    else
        _loadScripts();

</script>