<div class="container" style="margin-top: 40px;">
    <h1>E-Mail-Adresse bestätigen</h1>

    <% if (success === true) { %>
        <div class="alert alert-success xl center">Vielen Dank, deine Mail-Adresse wurde erfolgreich bestätigt.<br><a href="/profil"><span class="m">Jetzt würden wir dich bitten deiner Profil zu vervollständigen. </span></a></div>
        
        <% /* Google Code for Neu Registrierte Conversion Page*/ %>
        <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 977184238;
        var google_conversion_language = "en";
        var google_conversion_format = "2";
        var google_conversion_color = "ffffff";
        var google_conversion_label = "L_CuCPqDtQcQ7sv60QM";
        var google_conversion_value = 1.00;
        var google_conversion_currency = "EUR";
        var google_remarketing_only = false;
        /* ]]> */
        </script>
        <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
        </script>
        <noscript>
        <div style="display:inline;">
        <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/977184238/?value=1.00&amp;currency_code=EUR&amp;label=L_CuCPqDtQcQ7sv60QM&amp;guid=ON&amp;script=0"/>
        </div>
        </noscript>

        
    <% } else { %>
        <div class="alert alert-danger center"><span class="xl">Beim Bestätigen deiner E-Mail-Adresse ist ein Fehler aufgetreten:</span><br> <b><%= message %></b></div>
    <% } %>
</div>
