<div class="container" style="padding-top: 40px;">
    <div class="row-fluid">
        <div class="span8 offset2">
            <div id="ajaxload">
                <form id="register_form" action="/registerUser" method="POST">

                    <div class="row-fluid">
                        <div class="span12">
                            <%- description %>
                        </div>
                    </div>

                    <div class="row-fluid validation-errors" style="display: none;">
                        <div class="span12 alert alert-danger center">
                            <h3 class="l">Bei der Validierung sind Fehler aufgetreten. Bitte die markierten Felder überprüfen.</h3>
                            <p style="display: none;">Es gibt bereits ein Konto mit diesem Benutzernamen.</p>
                        </div>
                    </div>

                    <div class="alert">
                        <div class="row-fluid">
                            <div class="span12">
                                <span class="input span10 offset1"><input type="email" name="username" placeholder="E-Mail Adresse" required minlength="8"><i class="flaticon-bust"></i></span>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span5 offset1">
                                <span class="input span12"><input type="password" name="password" placeholder="Password" id="password" required minlength="6"><i class="flaticon-key164"></i></span>
                            </div>
                            <div class="span5">
                                <span class="input span12"><input type="password" name="password2" placeholder="Password wdh." required equalTo="#password" minlength="6"><i class="flaticon-key164"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="row-fluid">
                        <div class="span3" style="text-align:left;">
                            <select name="type">
                                <option value="person">Privatperson</option>
                                <option value="gmbh">GmbH</option>
                            </select>
                        </div>
                        <div class="span9">
                            <input type="text" name="company" placeholder="Firma" class="span12" style="display: none;">
                        </div>
                    </div>
                    <br>

                    <div class="row-fluid">
                        <div class="span3">
                            <div>
                                <span class="radio">
                                    <label><input type="radio" name="gender" value="male" required><span>Herr</span></label>
                                </span>
                                <span class="radio">
                                    <label><input type="radio" name="gender" value="female" required><span>Frau</span></label>
                                </span>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            <input value="" type="text" name="firstname" class="span12" placeholder="Vorname" required>
                        </div>
                        <div class="span6">
                            <input value="" type="text" name="lastname" class="span12" placeholder="Nachname" required>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12"><br>
                            <span class="checkbox">
                                <label><input type="checkbox" name="AcceptAgreement" id="AcceptAgreement" value="1" required> <span>Ich habe die <a href="/docs/agbs.pdf" rel="nofollow" target="_blank"><u>AGBs</u></a> und die <a href="/docs/datenschutz.pdf" rel="nofollow" target="_blank"><u>Datenschutzerklärung</u></a> gelesen, und bin damit einverstanden.</span></label>
                            </span>
                        </div>
                    </div>
                    <div class="row-fluid">

                        <div class="span12">
                            <span class="checkbox">
                                <label><input type="checkbox" name="newsletter" id="newsletter" value="1"> <span>Projekt-Newsletter abonnieren. </span></label>
                            </span>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <input name="submit" id="submit" value="Registrieren" type="submit" class="span12 highlight" style="float: right; clear: both;">
                        </div>
                    </div>
                </form>

                <div class="row-fluid" id="register_success" style="display: none;">
                    <div class="span12 center">
                        <%- success %>
                    </div>
                </div>
                <!-- register scripts: ajax and in page! -->
                <script>
                    var _loadRegisterScript = function(){
                        loadJSSync("/js/lib/jquery.validate.min.js");
                        loadJSSync("/js/lib/jquery.validate.bvTranslate.js");
                        loadJSSync("/js/page_register.js");
                    }
                    if(window.jQuery == null)
                        window.addEventListener("load", _loadRegisterScript);
                    else
                        _loadRegisterScript();
                </script>
            </div>
        </div>
    </div>
</div>