<!DOCTYPE html>
<html class="no-js" dir="ltr" lang="de-DE">

<head>
    <meta charset="utf-8">
    <!-- CSS -->
    <!-- bootstrap -->
    <link href="/css/grid.min.css" rel="stylesheet">
    <!-- custom -->
    <link href="/css/styles.css" rel="stylesheet">

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/img/touch-icons/apple-touch-icon-iphone-60x60-precomposed.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/touch-icons/apple-touch-icon-ipad-76x76-precomposed.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/touch-icons/apple-touch-icon-iphone-retina-120x120-precomposed.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/touch-icons/apple-touch-icon-ipad-retina-152x152-precomposed.png">

    <!-- icon font -->
    <link rel="stylesheet" href="/fonts/flaticon/flaticon.css">

    <!-- web fonts -->

    <link href='/fonts/firasans/fira.css' rel='stylesheet' type='text/css'>
    <link href='/fonts/whateverittakes/stylesheet.css' rel='stylesheet' type='text/css'>

    <!-- HTML5 support for IE lt 9 -->
    <!--[if lt IE 9]><script src="/js/html5shim.js"></script><![endif]-->
    <!--[if gte IE 9]>
      <style type="text/css">
        .gradient {
           filter: none;
        }
      </style>
    <![endif]-->

    <!-- META DATA -->
    <title><%= page.title %> | BauhausJS</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <meta name="viewport" content="width=device-width, initial-scale=.8">
    <meta name="author" content="bauhausJS | bauhaus.io | fullstack.build">
    <!-- facebook -->
    <meta property="og:title" content="<%= page.title %> | BauhausJS" />
    <meta property="og:site_name" content="" />
    <meta property="og:description" content="" />
    <meta property="og:type" content="" />
</head>

<!--link href="/css/modal.css" rel="stylesheet"-->
<body>   
<!--
     ."".    ."",
     |  |   /  /
     |  |  /  /
     |  | /  /
     |  |/  ;-._
     }  ` _/  / ;
     |  /` ) /  /
     | /  /_/\_/\
     |/  /      |
     (  ' \ '-  |
      \    `.  /
       |      |
       |      |

    Thanks for taking a look :)
    It's always nice to see you.
    Have a nice day!

    <3

    Evgenij
-->
    
    <!-- BROWSER AND JAVASCRIPT ALERTS -->
    <noscript>
        <div class="container alert alert-danger">
            <div class="row-fluid">
                <div class="offset1 span1 xxxl">
                    <i class="flaticon-alert5 xxxl"></i>
                </div>
                <div class="span8">
                    <h4>JavaScript ist deaktiviert! </h4> Um den vollen Funktionsumfang dieser Webseite zu erfahren, benötigen Sie JavaScript.
                    <br>Eine Anleitung wie Sie JavaScript in Ihrem Browser einschalten, befindet sich <a href="http://www.enable-javascript.com/de/" target="_blank">hier</a>.
                </div>
            </div>
        </div>
    </noscript>
    <!--[if lte IE 9]>
        <div class="container alert alert-danger">
            <div class="row-fluid">
                <div class="offset1 span1 xxxl">
                    <i class="flaticon-alert5 xxxl"></i>
                </div>
                <div class="span8">
                    <h4> Ihr Browser ist veraltet! </h4>
                    Sie verwenden einen veralteten Browser mit Sicherheitsschwachstellen und können nicht alle Funktionen dieser Webseite nutzen. <a href="https://browser-update.org/de/update.html" target="_blank">Hier erfahren Sie, wie einfach Sie Ihren Browser aktualisieren können sich</a>.
                </div>
            </div>
        </div>
    <![endif]-->
    <!-- / BROWSER AND JAVASCRIPT ALERTS -->
    <% if (user && user.valid) { %>
      <% if (user.valid.profile === false) { %>
        <style>
          .disruptor {
              background: #99c84d;
              line-height: 2em;
              text-align: center;
          }
        </style>
    <a href="/profil"><div class="disruptor profile"><i class="flaticon-info924 l"></i> Das Benutzer-Profil ist leider nicht vollst&auml;ndig. Bitte hier klicken. </div></a>
      <% } %>
    <% } %>
    <header>
        <div class="container">
            <div class="row-fluid">
                <div class="span4 hidden-phone">
                    <a href="/" class="brand">
                        <img src="/img/logo.jpg" alt="Logo (retina)" style="width:300px;height:78px;border: 1px solid black;" />
                    </a>
                </div>
                <div class="span4 visible-phone">
                    <a href="/" class="brand">
                        <img src="/img/logo_mobile.jpg" alt="Logo (retina)" style="width:200px;height:128px;border: 1px solid black;" />
                    </a>
                </div>
                <div class="span8 login toggle-by-action-show-login">
                    <% if (!user) { %>
                        <div class="row-fluid">
                            <div class="span12">
                                <% if (authError == "user.email.notconfirmed") { %>
                                    <span class="error s">Bitte bestätigen Sie Ihre E-Mail Adresse um sich einzuloggen.</span>
                                <% } %>
                                <% if (authError == "user.login.error") { %>
                                    <span class="error s"><a href="/passwort-vergessen" class="action_ajaxload">Falscher Benutzername oder Passwort. <u>Passwort vergessen?</u></a></span> 
                                    <div class="hide-login" style="display: none;"> 
                                <% } %>
                                    <form action="/login" method="post" class="login-form">
                                        <span class="input"><input type="text" name="username" placeholder="E-Mail Adresse"><i class="flaticon-bust"></i></span>
                                        <span class="input"><input type="password" name="password" placeholder="Passwort"><i class="flaticon-key164"></i></span>
                                        <input type="submit" value="login">
                                    </form>
                                <% if (authError == "user.login.error") { %>
                                </div>
                                <% } %>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                <% if (authError == "user.login.error") { %>
                                    <div class="alert alert-warning s span8 offset4" id="login-blocked-alert">
                                        <i class="flaticon-clock96"></i> 
                                        Aus Sicherheitsgründen wurde das Konto für wenige Augenblicke gesperrt.<br> Bitte versuche es in Kürze erneut.
                                    </div>
                                <script>
                                    window.setTimeout(function(){
                                        $("#login-blocked-alert").fadeOut(250, function(){
                                            $(".hide-login").fadeIn(250);
                                        });
                                    }, 5000);
                                </script>
                                <% } else { %>
                                    <a href="/registrierung" class="action_ajaxload"><i class="flaticon-add70"> </i>Registrieren</a>
                                <% } %>
                            </div>
                        </div>
                    <% } else { %>
                        <div class="row-fluid">
                            <div class="span12">
                                <% if (user.fields != null && user.fields.person != null){ %>
                                    Hallo <%- user.fields.person.firstname %>  <%- user.fields.person.lastname %> 
                                <% } %>
                                    <a href="/logout" class="radius small button" style="display: inline-block;">Logout</a> <br />
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span12">
                                <a href="/profil"><i class="flaticon-bust"> </i> Mein Profil</a> 
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>

        <nav id="header-nav" class="hidden-phone">
            <div id="main-nav">
                <div class="container">
                    <div class="row-fluid">
                        <div class="span12">
                            <ul class="nav hid_den-phone toggle-by-action-toggle-menu">
                                <% for (var id in navigation.main) { %>
                                    <% var item = navigation.main[id] %>
                                    <li class="<%- (item.isActive || item.hasActiveChildren) ? 'active': '' %>">
                                        <a href="<%- navigation.main[id].route %>"><%- navigation.main[id].title %></a>
                                    </li>
                                <% } %>
                                <li>
                                    <span class="special xl">BauhausJS Demo-Project</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid" id="secondary-nav">
                <div class="container">
                    <ul>
                        <% for (var id in navigation.main ) { %>
                          <% if (navigation.main[ id ].children && (navigation.main[id].isActive || navigation.main[id].hasActiveChildren ) ) { %>
                            <% for (var childId in navigation.main[ id ].children ) { %>
                              <% var item = navigation.main[ id ].children[ childId ] %>
                              <li class="<%- (item.isActive || item.hasActiveChildren) ? 'active': '' %>">
                                <a href="<%- item.route %>"><%- item.title %></a>
                              </li>
                            <% } %>
                          <% } %>
                        <% } %>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="mobile-nav-trigger" class="visible-phone">
            Men&uuml; &gt;&gt;
        </div>
    </header>
    <div class="content-area">
        <section class="details ajaxload">
            <div class="container">
                <div class="row-fluid">
                    <div class="span6 offset3 content">

                        Wird geladen ...
                        
                    </div>
                </div>
            </div>
        </section>
        
        <%- slots.content %>
    </div>
    
    <footer>
       
        <div class="container">
            <!-- FOOTER navigation -->
            <!--
            <div class="row-fluid">
                <div class="span12">
                    <nav>
                        
                    </nav>
                </div>
            </div>
            -->
        </div>
    </footer>
    
    <!-- scripts -->
    <script src="/js/helper.js"></script>
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/jquery.sidr.min.js"></script>
    <script src="/js/bvlib/jquery.formatter.js"></script>
    <!--script src="/js/bvlib/intro_modal.js"></script-->
    <script src="/js/app.js"></script>

    <!-- Conditional Comments even for IE10 -->
    <script>
        /*@cc_on
          @if (@_jscript_version > 5)
          (function(){
            jQuery(document.links).attr('href', function(index, href) {
              if(!/^(https?|file|ftps?|mailto|javascript|data:image\/[^;]{2,9};):/i.test(href))
                this.href =  this.href+"";
            });
          })();
          @end
        @*/
    </script>

</body>
</html>