@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
    font-style: normal;
}.flaticon-alert5:before {
	content: "\e000";
}
.flaticon-browser28:before {
	content: "\e001";
}
.flaticon-cancel21:before {
	content: "\e002";
}
.flaticon-check33:before {
	content: "\e003";
}
.flaticon-clock96:before {
	content: "\e004";
}
.flaticon-done:before {
	content: "\e005";
}
.flaticon-download104:before {
	content: "\e006";
}
.flaticon-eco37:before {
	content: "\e007";
}
.flaticon-eco43:before {
	content: "\e008";
}
.flaticon-eco6:before {
	content: "\e009";
}
.flaticon-eco9:before {
	content: "\e00a";
}
.flaticon-ecological17:before {
	content: "\e00b";
}
.flaticon-ecological2:before {
	content: "\e00c";
}
.flaticon-electric42:before {
	content: "\e00d";
}
.flaticon-engine:before {
	content: "\e00e";
}
.flaticon-envelope4:before {
	content: "\e00f";
}
.flaticon-exclamation31:before {
	content: "\e010";
}
.flaticon-facebook23:before {
	content: "\e011";
}
.flaticon-facebook7:before {
	content: "\e012";
}
.flaticon-big61:before {
	content: "\e013";
}
.flaticon-first4:before {
	content: "\e014";
}
.flaticon-earth1:before {
	content: "\e015";
}
.flaticon-handshake1:before {
	content: "\e016";
}
.flaticon-heating3:before {
	content: "\e017";
}
.flaticon-idea14:before {
	content: "\e018";
}
.flaticon-image82:before {
	content: "\e019";
}
.flaticon-info9:before {
	content: "\e01a";
}
.flaticon-info924:before {
	content: "\e01b";
}
.flaticon-key164:before {
	content: "\e01c";
}
.flaticon-leaf32:before {
	content: "\e01d";
}
.flaticon-lightbulb9:before {
	content: "\e01e";
}
.flaticon-social71:before {
	content: "\e01f";
}
.flaticon-logout13:before {
	content: "\e020";
}
.flaticon-logout9:before {
	content: "\e021";
}
.flaticon-search9:before {
	content: "\e022";
}
.flaticon-user62:before {
	content: "\e023";
}
.flaticon-navigate6:before {
	content: "\e024";
}
.flaticon-objective:before {
	content: "\e025";
}
.flaticon-pin56:before {
	content: "\e026";
}
.flaticon-pressure7:before {
	content: "\e027";
}
.flaticon-two18:before {
	content: "\e028";
}
.flaticon-rounded56:before {
	content: "\e029";
}
.flaticon-settings48:before {
	content: "\e02a";
}
.flaticon-bust:before {
	content: "\e02b";
}
.flaticon-add70:before {
	content: "\e02c";
}
.flaticon-user3:before {
	content: "\e02d";
}
.flaticon-solar6:before {
	content: "\e02e";
}
.flaticon-storm:before {
	content: "\e02f";
}
.flaticon-fan2:before {
	content: "\e030";
}
.flaticon-thermometer24:before {
	content: "\e031";
}
.flaticon-time26:before {
	content: "\e032";
}
.flaticon-social19:before {
	content: "\e033";
}
.flaticon-user65:before {
	content: "\e034";
}
.flaticon-weekly7:before {
	content: "\e035";
}
.flaticon-youtube25:before {
	content: "\e036";
}
.flaticon-youtube30:before {
	content: "\e037";
}
