.ok,
.ok * {
    color: #99c84d !important;
    font-weight: bold;
}
.table-animate {
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    position: relative;
    top: 0px !important;
    opacity: 1 !important;
}
.table-animate-down {
    position: relative;
    top: 40px !important;
    opacity: 0 !important;
}
.sortHover {
    color: #99c84d !important;
    font-weight: bold;
}
.ng-hide {
    display: none !important;
}
th{
    text-align: center !important;
    cursor: default;
}
tr.crossed-out {
    text-decoration: line-through;
}
tr.highlight {
    background: #99c84d;
}
tr.unhighlight {
    background: transparent;
    -webkit-transition: 6s ease-in-out;
    -moz-transition: 6s ease-in-out;
    -o-transition: 6s ease-in-out;
    transition: 6s ease-in-out;
}
.mailbutton {
    background: #99c84d;
    padding: 3px;
    border-radius: 2px;
    text-decoration: none;
    color: #ffffff;
    display: inline-flex;
    margin-top: 4px;
}
.mail-textarea {
    width: 100%;
    max-width: 100%;
    min-height: 400px;
}
.mail-cancel:hover {
    cursor: pointer;
    color: #C20000;
}
